.orderDetails {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.orderImg img{
    max-width: 400px;
    height: auto;
}

.orderInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}